<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bot Story</title>
    <script type="text/javascript">window['content_return_url'] = "<%= @tp.content_return_url if @tp %>"</script>
    <%= javascripts %>
  </head>
  <body>
    <div class="container">
      <div role="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
